.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 345px;
}
.orderPage {
  display: flex;
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
}
.orderItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 135px;
  flex-grow: 1;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
  span {
    margin-top: 240px;
  }
}
