$modalWindow: rgb(36, 37, 41);
.cartMenu {
  position: absolute;
  top: 60px;
  left: 935px;
  background-color: $modalWindow;
  width: 250px;
  padding: 10px 20px;
  z-index: 2;
  border-radius: 15px;
  animation: addTransition 0.3s ease-in-out;
}
.arrange {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.totalPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@keyframes addTransition {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} ;
