.orderItem {
  display: flex;
  margin-bottom: 30px;
}
.cover {
  width: 200px;
  margin-right: 30px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}

.price {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}
.deleteIcon {
  cursor: pointer;
  padding: 2px;
  margin-left: 5px;
}
