$textSearch: #9a9a9a;

.cart {
  display: flex;
  justify-content: center;
  margin-left: 450px;
  cursor: pointer;
  color: $textSearch;
}
.cartIcon {
  :hover {
    color: white;
  }
}

.totalPrice {
  margin-left: 5px;
  color: $textSearch;
}

