:root {
  --color-text-search: #9a9a9a;
  --color-bg: #121212;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-bg);
}
a {
  color: var(--color-text-search);
  text-decoration: none;
}

.App {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1100px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  color: white;
}
.active {
  color: white;
}
